@model ProjektSale.KIERUNKI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KIERUNKI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAZWA_KIERUNKU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWA_KIERUNKU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYP_STUDIOW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYP_STUDIOW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CZAS_TRWANIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CZAS_TRWANIA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_KIERUNKU }) |
    @Html.ActionLink("Back to List", "Index")
</p>
