@model IEnumerable<ProjektSale.PRACOWNICY>

@{
    ViewBag.Title = "Pracownicy";
}

<h2>Lista pracowników</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IMIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAZWISKO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PENSJA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA_ZATRUDNIENIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STANOWISKO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BIURA.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRACOWNICY2.IMIE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IMIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWISKO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PENSJA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_ZATRUDNIENIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STANOWISKO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIURA.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRACOWNICY2.IMIE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PRACOWNIKA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PRACOWNIKA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PRACOWNIKA })
        </td>
    </tr>
}

</table>
